language: python
cache: pip
python:
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install -r requirements.txt
  - pip install pycodestyle==2.6.0 pytest
  - sudo apt-get install -y build-essential libpoppler-cpp-dev pkg-config python-dev tesseract-ocr
  - pip install pdftotext docutils pygments pytesseract pillow jq
script: pytest -v
