language: python
cache: pip
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install -r requirements.txt
  - pip install pycodestyle==2.6.0 pytest
  - sudo apt-get install -y build-essential libpoppler-cpp-dev pkg-config python-dev
  - pip install pdftotext docutils pygments
script: PYTHONPATH=lib pytest -v
